body
	margin 0px 
	
.wrapper
	background linear-gradient(to bottom right, #4886AC, #00FF8F) no-repeat
	height 100vh
	display flex
	justify-content center
	align-items center
	
#contenedor
	background linear-gradient(to bottom right,rgba(white, 0.35), rgba(white, .9))
	border-radius 7px
	padding 0 40px 20px 40px
	width 25%
	// transform translate(0,-30%)
	*
		font-family sans-serif
		display block
	input 
		font-size 1em
		padding-left: 10px
		width calc(100% - 10px)
		height 25px
		border 0
		margin-bottom 1em
		&:last-child
			padding-left 0
			width 100%
			background linear-gradient(rgba(#38A1E1,0.2),rgba(#4886AC, 0.3))
			font-size 1.25em
			height 1.75em
			&:hover
				background rgba(#00D8CA,0.6)